#add_info{
    margin: auto;
    width: 60%;
    padding: 10px;
    max-width: 400px;
    top: 20px;
}

.mdl-card__title{
    text-align: center;
}

#type_name {
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 18px;
}

.display{
    display: block;   
}

.hide{
    display: none;
}

#form{
    opacity:0.96;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 850px;
    width: 100%;
    background: #000;
}