p{
      font-family: "Roboto","Helvetica","Arial",sans-serif;
}
.demo-layout-transparent {
  background: url('/images/background_banner.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}
.demo-layout-transparent .mdl-navigation__link{
    color: white;
}
.button-place{
  margin: 14px 10px;
  color: white;
}
