html
  htmnl
    head
      meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
      title Triplana
      link(rel='stylesheet', href='css/material.min.css')
      link(rel='stylesheet', href='css/mine.css')
      script(src='js/material.min.js')
      link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    body
      .demo-layout-transparent.mdl-layout.mdl-js-layout
        header.mdl-layout__header.mdl-layout__header--transparent
          .mdl-layout__header-row
            // Title
            span.mdl-layout-title
              a(href='/') Trang chủ
            // Add spacer, to align navigation to the right
            .mdl-layout-spacer
            // Navigation
            nav.mdl-navigation
              a.mdl-navigation__link(href='registry') Đăng kí
              a.mdl-navigation__link(href='login') Đăng nhập
        .mdl-layout__drawer
          span.mdl-layout-title Title
          nav.mdl-navigation
            a.mdl-navigation__link(href='') Link
            a.mdl-navigation__link(href='') Link
            a.mdl-navigation__link(href='') Link
            a.mdl-navigation__link(href='') Link
        main.mdl-layout__content
          .mdl-grid
            .mdl-cell.mdl-cell--2-col
            .mdl-cell.mdl-cell--8-col
              form(action='#', style='color:white; text-align:right')
                .mdl-textfield.mdl-js-textfield.mdl-textfield--expandable
                  label.mdl-button.mdl-js-button.mdl-button--icon(for='sample6')
                    i.material-icons search
                  .mdl-textfield__expandable-holder
                    input#sample6.mdl-textfield__input(type='text')
                    label.mdl-textfield__label(for='sample-expandable') Expandable Input
              .mdl-grid
                button.mdl-button.mdl-js-button.button-place
                  | Host places
                button.mdl-button.mdl-js-button.button-place
                  | Trending
                button.mdl-button.mdl-js-button.button-place
                  | Newest
                a(href='/locates/addlocate')
                  button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.button-place
                    | Thêm địa điểm
              .mdl-grid
                .mdl-cell.mdl-cell--3-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone.mdl-card.mdl-shadow--3dp
                  .mdl-card__media(style='text-align:center')
                    img(src='images/danang.jpg', style='width:100%;')
                  .card-title.mdl-card__title
                    p.card-title-text.mdl-card__title-text Đà Nẵng
                  .card-title.mdl-card__title
                    // So nguoi quan tam
                    div(style='display:flex;')
                      #danang_intersted_icon.material-icons.dp48(style='font-size: 17px;') visibility
                      p.card-title-tooltip.mdl-tooltip.is-active(for='danang_intersted_icon') Số người quan tâm
                      p#danang_intersted_number.card-title-content.mdl-card__title-text 10.000
                      p.card-title-tooltip.mdl-tooltip.is-active(for='danang_intersted_number') Số người quan tâm
                    div(style='padding:0px 10px')
                    // So chueyn di qua do
                    div(style='display:flex;')
                      #danang_travel_icon.material-icons.dp48(style='font-size: 17px;') location_on
                      p.card-title-tooltip.mdl-tooltip.is-active(for='danang_travel_icon') Đã có chuyến đi
                      p#danang_travel_number.card-title-content.mdl-card__title-text 300
                      p.card-title-tooltip.mdl-tooltip.is-active(for='danang_travel_number') Đã có chuyến đi
                .mdl-cell.mdl-cell--3-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone.mdl-card.mdl-shadow--3dp
                  .mdl-card__media(style='text-align:center')
                    img(src='images/hanoi.jpg', style='width:100%;')
                  .card-title.mdl-card__title
                    p.card-title-text.mdl-card__title-text Hà Nội
                  .card-title.mdl-card__title
                    // So nguoi quan tam
                    div(style='display:flex;')
                      #danang_intersted_icon.material-icons.dp48(style='font-size: 17px;') visibility
                      p.card-title-tooltip.mdl-tooltip.is-active(for='danang_intersted_icon') Số người quan tâm
                      p#danang_intersted_number.card-title-content.mdl-card__title-text 10.000
                      p.card-title-tooltip.mdl-tooltip.is-active(for='danang_intersted_number') Số người quan tâm
                    div(style='padding:0px 10px')
                    // So chueyn di qua do
                    div(style='display:flex;')
                      #danang_travel_icon.material-icons.dp48(style='font-size: 17px;') location_on
                      p.card-title-tooltip.mdl-tooltip.is-active(for='danang_travel_icon') Đã có chuyến đi
                      p#danang_travel_number.card-title-content.mdl-card__title-text 300
                      p.card-title-tooltip.mdl-tooltip.is-active(for='danang_travel_number') Đã có chuyến đi
                .mdl-cell.mdl-cell--3-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone.mdl-card.mdl-shadow--3dp
                  .mdl-card__media(style='text-align:center')
                    img(src='images/hagiang.jpg', style='width:100%;')
                  .card-title.mdl-card__title
                    p.card-title-text.mdl-card__title-text Hà Giang
                  .card-title.mdl-card__title
                    // So nguoi quan tam
                    div(style='display:flex;')
                      #danang_intersted_icon.material-icons.dp48(style='font-size: 17px;') visibility
                      p.card-title-tooltip.mdl-tooltip.is-active(for='danang_intersted_icon') Số người quan tâm
                      p#danang_intersted_number.card-title-content.mdl-card__title-text 10.000
                      p.card-title-tooltip.mdl-tooltip.is-active(for='danang_intersted_number') Số người quan tâm
                    div(style='padding:0px 10px')
                    // So chueyn di qua do
                    div(style='display:flex;')
                      #danang_travel_icon.material-icons.dp48(style='font-size: 17px;') location_on
                      p.card-title-tooltip.mdl-tooltip.is-active(for='danang_travel_icon') Đã có chuyến đi
                      p#danang_travel_number.card-title-content.mdl-card__title-text 300
                      p.card-title-tooltip.mdl-tooltip.is-active(for='danang_travel_number') Đã có chuyến đi
                .mdl-cell.mdl-cell--3-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone.mdl-card.mdl-shadow--3dp
                  .mdl-card__media(style='text-align:center')
                    img(src='images/danang.jpg', style='width:100%;')
                  .card-title.mdl-card__title
                    h4.card-title-text.mdl-card__title-text Đà Nẵng
                  .card-title.mdl-card__title
                    // So nguoi quan tam
                    div(style='display:flex;')
                      #danang_intersted_icon.material-icons.dp48(style='font-size: 17px;') visibility
                      p.card-title-tooltip.mdl-tooltip.is-active(for='danang_intersted_icon') Số người quan tâm
                      p#danang_intersted_number.card-title-content.mdl-card__title-text 10.000
                      p.card-title-tooltip.mdl-tooltip.is-active(for='danang_intersted_number') Số người quan tâm
                    div(style='padding:0px 10px')
                    // So chueyn di qua do
                    div(style='display:flex;')
                      #danang_travel_icon.material-icons.dp48(style='font-size: 17px;') location_on
                      p.card-title-tooltip.mdl-tooltip.is-active(for='danang_travel_icon') Đã có chuyến đi
                      p#danang_travel_number.card-title-content.mdl-card__title-text 300
                      p.card-title-tooltip.mdl-tooltip.is-active(for='danang_travel_number') Đã có chuyến đi
                .mdl-cell.mdl-cell--3-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone.mdl-card.mdl-shadow--3dp
                  .mdl-card__media(style='text-align:center')
                    img(src='images/hanoi.jpg', style='width:100%;')
                  .card-title.mdl-card__title
                    p.card-title-text.mdl-card__title-text Hà Nội
                  .card-title.mdl-card__title
                    // So nguoi quan tam
                    div(style='display:flex;')
                      #danang_intersted_icon.material-icons.dp48(style='font-size: 17px;') visibility
                      p.card-title-tooltip.mdl-tooltip.is-active(for='danang_intersted_icon') Số người quan tâm
                      p#danang_intersted_number.card-title-content.mdl-card__title-text 10.000
                      p.card-title-tooltip.mdl-tooltip.is-active(for='danang_intersted_number') Số người quan tâm
                    div(style='padding:0px 10px')
                    // So chueyn di qua do
                    div(style='display:flex;')
                      #danang_travel_icon.material-icons.dp48(style='font-size: 17px;') location_on
                      p.card-title-tooltip.mdl-tooltip.is-active(for='danang_travel_icon') Đã có chuyến đi
                      p#danang_travel_number.card-title-content.mdl-card__title-text 300
                      p.card-title-tooltip.mdl-tooltip.is-active(for='danang_travel_number') Đã có chuyến đi
            .mdl-cell.mdl-cell--2-col
        footer.mdl-mini-footer
          .mdl-mini-footer__left-section
            .mdl-logo Title
            ul.mdl-mini-footer__link-list
              li
                a(href='#') Help
              li
                a(href='#') Privacy & Terms
