extends layout

block header
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='keywords', content='template, tour template, city tours, city tour, tours tickets, transfers, travel, travel template')
  meta(name='description', content='Citytours - Premium site template for city tours agencies, transfers and tickets.')
  meta(name='author', content='Ansonika')
  title CITY TOURS - City tours and travel site template by Ansonika
  // Favicons
  link(rel='shortcut icon', href='images/favicon.ico', type='image/x-icon')
  link(rel='apple-touch-icon', type='image/x-icon', href='images/apple-touch-icon-57x57-precomposed.png')
  link(rel='apple-touch-icon', type='image/x-icon', sizes='72x72', href='images/apple-touch-icon-72x72-precomposed.png')
  link(rel='apple-touch-icon', type='image/x-icon', sizes='114x114', href='images/apple-touch-icon-114x114-precomposed.png')
  link(rel='apple-touch-icon', type='image/x-icon', sizes='144x144', href='images/apple-touch-icon-144x144-precomposed.png')
  // CSS
  link(href='css/base.css', rel='stylesheet')
  // Google web fonts
  link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Gochi+Hand', rel='stylesheet', type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Lato:300,400', rel='stylesheet', type='text/css')
  //if lt IE 9
    script(src='js/html5shiv.min.js')
    script(src='js/respond.min.js')

block slide
  section#hero
    .intro_title
      h1.animated.fadeInDown Affordable Paris tours
      p.animated.fadeInDown City Tours / Tour Tickets / Tour Guides
      a.animated.fadeInUp.button_intro(href='#') View Tours
      a.animated.fadeInUp.button_intro.outline(href='#') View Tickets
    #search_bar_container
      .container
        .search_bar
          span#nav-search-in.nav-facade-active
            span#nav-search-in-content(style='') All tours
            |                             
            span.nav-down-arrow.nav-sprite
            |                             
            select#searchDropdownBox.searchSelect(title='Search in', name='tours_category')
              option(value='All Tours', title='All Tours') All Tours
              |                                 
              option(value='Museums', title='Museums') Museums
              |                                 
              option(value='Tickets', title='Tickets') Tickets
              |                                 
              option(value='Hotels', title='Hotels') Hotels
              |                                 
              option(value='Restaurants', title='Restaurants') Restaurants
          |                             
          .nav-searchfield-outer
            input#twotabsearchtextbox(type='text', autocomplete='off', name='field-keywords', placeholder='Type your search terms ....')
          |                             
          .nav-submit-button
            input.nav-submit-input(type='submit', title='Cerca', value='Search')
        // End search bar
    // /search_bar  
  // End hero
  // Content is placed here

block content
  //Syntax for jade is 2 space for indent
  .container.margin_60
      .main_title
        h2
          | Paris 
          span Top
          |  Tours
        p Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat.
      .row
        .col-md-4.col-sm-6.wow.zoomIn(data-wow-delay='0.1s')
          .tour_container
            .img_container
              a(href='single_tour.html')
                img.img-responsive(src='images/tour_box_1.jpg', alt='')
                .ribbon.top_rated
                .short_info
                  i.icon_set_1_icon-44
                  | Historic Buildings
                  span.price
                    sup $
                    | 39
            .tour_title
              h3
                strong Arc Triomphe
                |  tour
              .rating
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile
                small (75)
              // end rating
              .wishlist
                a.tooltip_flip.tooltip-effect-1(href='javascript:void(0);')
                  | +
                  span.tooltip-content-flip
                    span.tooltip-back Add to wishlist
              // End wish list
          // End box tour
        // End col-md-4
        .col-md-4.col-sm-6.wow.zoomIn(data-wow-delay='0.2s')
          .tour_container
            .img_container
              a(href='single_tour.html')
                img.img-responsive(src='images/tour_box_2.jpg', width='800', height='533', alt='')
                .ribbon.top_rated
                .badge_save
                  | Save
                  strong 30%
                .short_info
                  i.icon_set_1_icon-43
                  | Churches
                  span.price
                    sup $
                    | 45
            .tour_title
              h3
                strong Notredame
                |  tour
              .rating
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile
                small (75)
              // end rating
              .wishlist
                a.tooltip_flip.tooltip-effect-1(href='javascript:void(0);')
                  | +
                  span.tooltip-content-flip
                    span.tooltip-back Add to wishlist
              // End wish list
          // End box tour
        // End col-md-4
        .col-md-4.col-sm-6.wow.zoomIn(data-wow-delay='0.3s')
          .tour_container
            .img_container
              a(href='single_tour.html')
                img.img-responsive(src='images/tour_box_3.jpg', width='800', height='533', alt='')
                .ribbon.popular
                .short_info
                  i.icon_set_1_icon-44
                  | Historic Buildings
                  span.price
                    sup $
                    | 48
            .tour_title
              h3
                strong Versailles
                |  tour
              .rating
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile
                small (75)
              // end rating
              .wishlist
                a.tooltip_flip.tooltip-effect-1(href='javascript:void(0);')
                  | +
                  span.tooltip-content-flip
                    span.tooltip-back Add to wishlist
              // End wish list
          // End box tour
        // End col-md-4
        .col-md-4.col-sm-6.wow.zoomIn(data-wow-delay='0.4s')
          .tour_container
            .img_container
              a(href='single_tour.html')
                img.img-responsive(src='images/tour_box_4.jpg', width='800', height='533', alt='')
                .ribbon.popular
                .badge_save
                  | Save
                  strong 30%
                .short_info
                  i.icon_set_1_icon-30
                  | Walking tour
                  span.price
                    sup $
                    | 36
            .tour_title
              h3
                strong Pompidue
                |  tour
              .rating
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile
                small (75)
              // end rating
              .wishlist
                a.tooltip_flip.tooltip-effect-1(href='javascript:void(0);')
                  | +
                  span.tooltip-content-flip
                    span.tooltip-back Add to wishlist
              // End wish list
          // End box tour
        // End col-md-4
        .col-md-4.col-sm-6.wow.zoomIn(data-wow-delay='0.5s')
          .tour_container
            .img_container
              a(href='single_tour.html')
                img.img-responsive(src='images/tour_box_14.jpg', width='800', height='533', alt='')
                .ribbon.popular
                .short_info
                  i.icon_set_1_icon-28
                  | Skyline tours
                  span.price
                    sup $
                    | 42
            .tour_title
              h3
                strong Tour Eiffel
                |  tour
              .rating
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile
                small (75)
              // end rating
              .wishlist
                a.tooltip_flip.tooltip-effect-1(href='javascript:void(0);')
                  | +
                  span.tooltip-content-flip
                    span.tooltip-back Add to wishlist
              // End wish list
          // End box tour
        // End col-md-4
        .col-md-4.col-sm-6.wow.zoomIn(data-wow-delay='0.6s')
          .tour_container
            .img_container
              a(href='single_tour.html')
                img.img-responsive(src='images/tour_box_5.jpg', width='800', height='533', alt='')
                .ribbon.top_rated
                .short_info
                  i.icon_set_1_icon-44
                  | Historic Buildings
                  span.price
                    sup $
                    | 40
            .tour_title
              h3
                strong Pantheon
                |  tour
              .rating
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile
                small (75)
              // end rating
              .wishlist
                a.tooltip_flip.tooltip-effect-1(href='javascript:void(0);')
                  | +
                  span.tooltip-content-flip
                    span.tooltip-back Add to wishlist
              // End wish list
          // End box tour
        // End col-md-4
        .col-md-4.col-sm-6.wow.zoomIn(data-wow-delay='0.7s')
          .tour_container
            .img_container
              a(href='single_tour.html')
                img.img-responsive(src='images/tour_box_8.jpg', width='800', height='533', alt='')
                .ribbon.top_rated
                .short_info
                  i.icon_set_1_icon-3
                  | City sightseeing
                  span.price
                    sup $
                    | 35
            .tour_title
              h3
                strong Open Bus
                |  tour
              .rating
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile
                small (75)
              // end rating
              .wishlist
                a.tooltip_flip.tooltip-effect-1(href='javascript:void(0);')
                  | +
                  span.tooltip-content-flip
                    span.tooltip-back Add to wishlist
              // End wish list
          // End box tour
        // End col-md-4
        .col-md-4.col-sm-6.wow.zoomIn(data-wow-delay='0.8s')
          .tour_container
            .img_container
              a(href='single_tour.html')
                img.img-responsive(src='images/tour_box_9.jpg', width='800', height='533', alt='')
                .ribbon.top_rated
                .short_info
                  i.icon_set_1_icon-4
                  | Museums
                  span.price
                    sup $
                    | 38
            .tour_title
              h3
                strong Louvre museum
                |  tour
              .rating
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile
                small (75)
              // end rating
              .wishlist
                a.tooltip_flip.tooltip-effect-1(href='javascript:void(0);')
                  | +
                  span.tooltip-content-flip
                    span.tooltip-back Add to wishlist
              // End wish list
          // End box tour
        // End col-md-4
        .col-md-4.col-sm-6.wow.zoomIn(data-wow-delay='0.9s')
          .tour_container
            .img_container
              a(href='single_tour.html')
                img.img-responsive(src='images/tour_box_12.jpg', width='800', height='533', alt='')
                .ribbon.top_rated
                .short_info
                  i.icon_set_1_icon-14
                  | Eat & drink
                  span.price
                    sup $
                    | 25
            .tour_title
              h3
                strong Boulangerie
                |  tour
              .rating
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile
                small (75)
              // end rating
              .wishlist
                a.tooltip_flip.tooltip-effect-1(href='javascript:void(0);')
                  | +
                  span.tooltip-content-flip
                    span.tooltip-back Add to wishlist
              // End wish list
          // End box tour
        // End col-md-4
      // End row
      p.text-center.nopadding
        a.btn_1.medium(href='#')
          i.icon-eye-7
          | View all tours (144)
    // End container
  .container.margin_60
      //.main_title
        h2
          | Some 
          span good
          |  reasons
        p
          | Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat.
      //.row
        .col-md-4.wow.zoomIn(data-wow-delay='0.2s')
          .feature_home
            i.icon_set_1_icon-41
            h3
              span +120
              |  Premium tours
            p
              | Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
            a.btn_1.outline(href='about.html') Read more
        .col-md-4.wow.zoomIn(data-wow-delay='0.4s')
          .feature_home
            i.icon_set_1_icon-30
            h3
              span +1000
              |  Customers
            p
              | Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
            a.btn_1.outline(href='about.html') Read more
        .col-md-4.wow.zoomIn(data-wow-delay='0.6s')
          .feature_home
            i.icon_set_1_icon-57
            h3
              span H24 
              |  Support
            p
              | Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
            a.btn_1.outline(href='about.html') Read more
      // End row
      hr
      .row
        .col-md-8.col-sm-6.hidden-xs
          img.img-responsive.laptop(src='images/laptop.png', alt='Laptop')
        .col-md-4.col-sm-6
          h3
            span Get started
            |  with CityTours
          p
            | Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
          ul.list_order
            li
              span 1
              | Select your preferred tours
            li
              span 2
              | Purchase tickets and options
            li
              span 3
              | Pick them directly from your office
          a.btn_1(href='all_tour_list.html') Start now
      // End row