extends layout
block content
  //Syntax for jade is 2 space for indent
  .container.margin_60
      .main_title
        h2
          | Paris 
          span Top
          |  Tours
        p Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat.
      .row
        .col-md-4.col-sm-6.wow.zoomIn(data-wow-delay='0.1s')
          .tour_container
            .img_container
              a(href='single_tour.html')
                img.img-responsive(src='images/tour_box_1.jpg', alt='')
                .ribbon.top_rated
                .short_info
                  i.icon_set_1_icon-44
                  | Historic Buildings
                  span.price
                    sup $
                    | 39
            .tour_title
              h3
                strong Arc Triomphe
                |  tour
              .rating
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile
                small (75)
              // end rating
              .wishlist
                a.tooltip_flip.tooltip-effect-1(href='javascript:void(0);')
                  | +
                  span.tooltip-content-flip
                    span.tooltip-back Add to wishlist
              // End wish list
          // End box tour
        // End col-md-4
        .col-md-4.col-sm-6.wow.zoomIn(data-wow-delay='0.2s')
          .tour_container
            .img_container
              a(href='single_tour.html')
                img.img-responsive(src='images/tour_box_2.jpg', width='800', height='533', alt='')
                .ribbon.top_rated
                .badge_save
                  | Save
                  strong 30%
                .short_info
                  i.icon_set_1_icon-43
                  | Churches
                  span.price
                    sup $
                    | 45
            .tour_title
              h3
                strong Notredame
                |  tour
              .rating
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile
                small (75)
              // end rating
              .wishlist
                a.tooltip_flip.tooltip-effect-1(href='javascript:void(0);')
                  | +
                  span.tooltip-content-flip
                    span.tooltip-back Add to wishlist
              // End wish list
          // End box tour
        // End col-md-4
        .col-md-4.col-sm-6.wow.zoomIn(data-wow-delay='0.3s')
          .tour_container
            .img_container
              a(href='single_tour.html')
                img.img-responsive(src='images/tour_box_3.jpg', width='800', height='533', alt='')
                .ribbon.popular
                .short_info
                  i.icon_set_1_icon-44
                  | Historic Buildings
                  span.price
                    sup $
                    | 48
            .tour_title
              h3
                strong Versailles
                |  tour
              .rating
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile
                small (75)
              // end rating
              .wishlist
                a.tooltip_flip.tooltip-effect-1(href='javascript:void(0);')
                  | +
                  span.tooltip-content-flip
                    span.tooltip-back Add to wishlist
              // End wish list
          // End box tour
        // End col-md-4
        .col-md-4.col-sm-6.wow.zoomIn(data-wow-delay='0.4s')
          .tour_container
            .img_container
              a(href='single_tour.html')
                img.img-responsive(src='images/tour_box_4.jpg', width='800', height='533', alt='')
                .ribbon.popular
                .badge_save
                  | Save
                  strong 30%
                .short_info
                  i.icon_set_1_icon-30
                  | Walking tour
                  span.price
                    sup $
                    | 36
            .tour_title
              h3
                strong Pompidue
                |  tour
              .rating
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile
                small (75)
              // end rating
              .wishlist
                a.tooltip_flip.tooltip-effect-1(href='javascript:void(0);')
                  | +
                  span.tooltip-content-flip
                    span.tooltip-back Add to wishlist
              // End wish list
          // End box tour
        // End col-md-4
        .col-md-4.col-sm-6.wow.zoomIn(data-wow-delay='0.5s')
          .tour_container
            .img_container
              a(href='single_tour.html')
                img.img-responsive(src='images/tour_box_14.jpg', width='800', height='533', alt='')
                .ribbon.popular
                .short_info
                  i.icon_set_1_icon-28
                  | Skyline tours
                  span.price
                    sup $
                    | 42
            .tour_title
              h3
                strong Tour Eiffel
                |  tour
              .rating
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile
                small (75)
              // end rating
              .wishlist
                a.tooltip_flip.tooltip-effect-1(href='javascript:void(0);')
                  | +
                  span.tooltip-content-flip
                    span.tooltip-back Add to wishlist
              // End wish list
          // End box tour
        // End col-md-4
        .col-md-4.col-sm-6.wow.zoomIn(data-wow-delay='0.6s')
          .tour_container
            .img_container
              a(href='single_tour.html')
                img.img-responsive(src='images/tour_box_5.jpg', width='800', height='533', alt='')
                .ribbon.top_rated
                .short_info
                  i.icon_set_1_icon-44
                  | Historic Buildings
                  span.price
                    sup $
                    | 40
            .tour_title
              h3
                strong Pantheon
                |  tour
              .rating
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile
                small (75)
              // end rating
              .wishlist
                a.tooltip_flip.tooltip-effect-1(href='javascript:void(0);')
                  | +
                  span.tooltip-content-flip
                    span.tooltip-back Add to wishlist
              // End wish list
          // End box tour
        // End col-md-4
        .col-md-4.col-sm-6.wow.zoomIn(data-wow-delay='0.7s')
          .tour_container
            .img_container
              a(href='single_tour.html')
                img.img-responsive(src='images/tour_box_8.jpg', width='800', height='533', alt='')
                .ribbon.top_rated
                .short_info
                  i.icon_set_1_icon-3
                  | City sightseeing
                  span.price
                    sup $
                    | 35
            .tour_title
              h3
                strong Open Bus
                |  tour
              .rating
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile
                small (75)
              // end rating
              .wishlist
                a.tooltip_flip.tooltip-effect-1(href='javascript:void(0);')
                  | +
                  span.tooltip-content-flip
                    span.tooltip-back Add to wishlist
              // End wish list
          // End box tour
        // End col-md-4
        .col-md-4.col-sm-6.wow.zoomIn(data-wow-delay='0.8s')
          .tour_container
            .img_container
              a(href='single_tour.html')
                img.img-responsive(src='images/tour_box_9.jpg', width='800', height='533', alt='')
                .ribbon.top_rated
                .short_info
                  i.icon_set_1_icon-4
                  | Museums
                  span.price
                    sup $
                    | 38
            .tour_title
              h3
                strong Louvre museum
                |  tour
              .rating
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile
                small (75)
              // end rating
              .wishlist
                a.tooltip_flip.tooltip-effect-1(href='javascript:void(0);')
                  | +
                  span.tooltip-content-flip
                    span.tooltip-back Add to wishlist
              // End wish list
          // End box tour
        // End col-md-4
        .col-md-4.col-sm-6.wow.zoomIn(data-wow-delay='0.9s')
          .tour_container
            .img_container
              a(href='single_tour.html')
                img.img-responsive(src='images/tour_box_12.jpg', width='800', height='533', alt='')
                .ribbon.top_rated
                .short_info
                  i.icon_set_1_icon-14
                  | Eat & drink
                  span.price
                    sup $
                    | 25
            .tour_title
              h3
                strong Boulangerie
                |  tour
              .rating
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile.voted
                i.icon-smile
                small (75)
              // end rating
              .wishlist
                a.tooltip_flip.tooltip-effect-1(href='javascript:void(0);')
                  | +
                  span.tooltip-content-flip
                    span.tooltip-back Add to wishlist
              // End wish list
          // End box tour
        // End col-md-4
      // End row
      p.text-center.nopadding
        a.btn_1.medium(href='#')
          i.icon-eye-7
          | View all tours (144)
    // End container
  #map.map
  // End map
  .white_bg
      .container.margin_60
        .main_title
          h2
            | Other 
            span Popular
            |  tours
          p
            | Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat.
        .row.add_bottom_45
          .col-md-4.other_tours
            ul
              li
                a(href='#')
                  i.icon_set_1_icon-3
                  | Tour Eiffel
                  span.other_tours_price $42
              li
                a(href='#')
                  i.icon_set_1_icon-30
                  | Shopping tour
                  span.other_tours_price $35
              li
                a(href='#')
                  i.icon_set_1_icon-44
                  | Versailles tour
                  span.other_tours_price $20
              li
                a(href='#')
                  i.icon_set_1_icon-3
                  | Montparnasse skyline
                  span.other_tours_price $26
              li
                a(href='#')
                  i.icon_set_1_icon-44
                  | Pompidue
                  span.other_tours_price $26
              li
                a(href='#')
                  i.icon_set_1_icon-3
                  | Senna River tour
                  span.other_tours_price $32
          .col-md-4.other_tours
            ul
              li
                a(href='#')
                  i.icon_set_1_icon-1
                  | Notredame
                  span.other_tours_price $48
              li
                a(href='#')
                  i.icon_set_1_icon-4
                  | Lafaiette
                  span.other_tours_price $55
              li
                a(href='#')
                  i.icon_set_1_icon-30
                  | Trocadero
                  span.other_tours_price $76
              li
                a(href='#')
                  i.icon_set_1_icon-3
                  | Open Bus tour
                  span.other_tours_price $55
              li
                a(href='#')
                  i.icon_set_1_icon-30
                  | Louvre museum
                  span.other_tours_price $24
              li
                a(href='#')
                  i.icon_set_1_icon-3
                  | Madlene Cathedral
                  span.other_tours_price $24
          .col-md-4.other_tours
            ul
              li
                a(href='#')
                  i.icon_set_1_icon-37
                  | Montparnasse
                  span.other_tours_price $36
              li
                a(href='#')
                  i.icon_set_1_icon-1
                  | D'Orsey museum
                  span.other_tours_price $28
              li
                a(href='#')
                  i.icon_set_1_icon-50
                  | Gioconda Louvre musuem
                  span.other_tours_price $44
              li
                a(href='#')
                  i.icon_set_1_icon-44
                  | Tour Eiffel
                  span.other_tours_price $56
              li
                a(href='#')
                  i.icon_set_1_icon-50
                  | Ladefanse
                  span.other_tours_price $16
              li
                a(href='#')
                  i.icon_set_1_icon-44
                  | Notredame
                  span.other_tours_price $26
        // End row
        .banner.colored.add_bottom_30
          h4
            | Discover our Top tours 
            span from $34
          p
            | Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in.
          a.btn_1.white(href='single_tour.html') Read more
        .row
          .col-md-3.col-sm-6.text-center
            p
              a(href='#')
                img.img-responsive(src='images/bus.jpg', alt='Pic')
            h4
              span Sightseen tour
              |  booking
            p
              | Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
          .col-md-3.col-sm-6.text-center
            p
              a(href='#')
                img.img-responsive(src='images/transfer.jpg', alt='Pic')
            h4
              span Transfer
              |  booking
            p
              | Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
          .col-md-3.col-sm-6.text-center
            p
              a(href='#')
                img.img-responsive(src='images/guide.jpg', alt='Pic')
            h4
              span Tour guide
              |  booking
            p
              | Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
          .col-md-3.col-sm-6.text-center
            p
              a(href='#')
                img.img-responsive(src='images/hotel.jpg', alt='Pic')
            h4
              span Hotel
              |  booking
            p
              | Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
        // End row
      // End container
    // End 
  section.promo_full
      .promo_full_wp.magnific
        div
          h3 BELONG ANYWHERE
          p
            | Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
          a.video(href='https://www.youtube.com/watch?v=Zz5cu72Gv5Y')
            i.icon-play-circled2-1
    // End section
  .container.margin_60
      .main_title
        h2
          | Some 
          span good
          |  reasons
        p
          | Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat.
      .row
        .col-md-4.wow.zoomIn(data-wow-delay='0.2s')
          .feature_home
            i.icon_set_1_icon-41
            h3
              span +120
              |  Premium tours
            p
              | Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
            a.btn_1.outline(href='about.html') Read more
        .col-md-4.wow.zoomIn(data-wow-delay='0.4s')
          .feature_home
            i.icon_set_1_icon-30
            h3
              span +1000
              |  Customers
            p
              | Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
            a.btn_1.outline(href='about.html') Read more
        .col-md-4.wow.zoomIn(data-wow-delay='0.6s')
          .feature_home
            i.icon_set_1_icon-57
            h3
              span H24 
              |  Support
            p
              | Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
            a.btn_1.outline(href='about.html') Read more
      // End row
      hr
      .row
        .col-md-8.col-sm-6.hidden-xs
          img.img-responsive.laptop(src='images/laptop.png', alt='Laptop')
        .col-md-4.col-sm-6
          h3
            span Get started
            |  with CityTours
          p
            | Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
          ul.list_order
            li
              span 1
              | Select your preferred tours
            li
              span 2
              | Purchase tickets and options
            li
              span 3
              | Pick them directly from your office
          a.btn_1(href='all_tour_list.html') Start now
      // End row