doctype html
//if IE 8
  html.ie.ie8  
//if IE 9
  html.ie.ie9  
// [if gt IE 9] <!
html
  // <![endif]
  head
    block header
  body
    //if lte IE 8
      p.chromeframe
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href='http://browsehappy.com/') upgrade your browser
        | .
    #preloader
      .sk-spinner.sk-spinner-wave
        .sk-rect1
        .sk-rect2
        .sk-rect3
        .sk-rect4
        .sk-rect5
    // End Preload
    .layer
    // Mobile menu overlay mask
    // Header==================================================
    header
      #top_line
        .container
          .row
            .col-md-6.col-sm-6.col-xs-6
              i.icon-phone
              strong 0045 043204434
            .col-md-6.col-sm-6.col-xs-6
              ul#top_links
                li
                  .dropdown.dropdown-access
                    a#access_link.dropdown-toggle(href='#', data-toggle='dropdown') Sign in
                    .dropdown-menu
                      .row
                        .col-md-6.col-sm-6.col-xs-6
                          a.bt_facebook(href='#')
                            i.icon-facebook
                            | Facebook
                        .col-md-6.col-sm-6.col-xs-6
                          a.bt_paypal(href='#')
                            i.icon-paypal
                            | Paypal
                      .login-or
                        hr.hr-or
                        span.span-or or
                      form(method='post', action='/login', enctype='multipart/form-data')
                        .form-group
                          input#inputUsernameEmail.form-control(name='username',type='text', placeholder='username')
                        .form-group
                          input#inputPassword.form-control(name='password',type='password', placeholder='Password')
                        a#forgot_pw(href='#') Forgot password?
                        input#Sign_in.button_drop(type='submit', name='Sign_in', value='Sign in')
                        input#Sign_up.button_drop.outline(type='submit', name='Sign_up', value='Sign up')
                  // End Dropdown access
                li
                  a#wishlist_link(href='wishlist.html') Wishlist
          // End row
        // End container
      // End top line
      .container
        .row
          .col-md-3.col-sm-3.col-xs-3
            #logo
              a(href='index.html')
                img.logo_normal(src='images/logo.png', width='160', height='34', alt='City tours', data-retina='true')
              a(href='index.html')
                img.logo_sticky(src='images/logo_sticky.png', width='160', height='34', alt='City tours', data-retina='true')
          nav.col-md-9.col-sm-9.col-xs-9
            a.cmn-toggle-switch.cmn-toggle-switch__htx.open_close(href='javascript:void(0);')
              span Menu mobile
            .main-menu
              #header_menu
                img(src='images/logo_sticky.png', width='160', height='34', alt='City tours', data-retina='true')
              a#close_in.open_close(href='#')
                i.icon_set_1_icon-77
              ul
                li.submenu
                  a.show-submenu(href='javascript:void(0);')
                    | Home 
                    i.icon-down-open-mini
                  ul
                    li
                      a(href='index.html') With Hotels and Tours
                    li
                      a(href='index_2.html') With Only tours
                    li
                      a(href='index_3.html') Single image
                    li
                      a(href='index_4.html') Header video
                    li
                      a(href='index_7.html') With search panel
                    li
                      a(href='index_5.html') With map
                    li
                      a(href='index_6.html') With search bar
                    li
                      a(href='index_8.html') Search bar + Video
                    li
                      a(href='index_9.html') With Text Rotator
                    li
                      a(href='index_10.html') With Cookie Bar (EU law)
                    li
                      a(href='index_11.html') Popup Advertising
                li.submenu
                  a.show-submenu(href='javascript:void(0);')
                    | Tours 
                    i.icon-down-open-mini
                  ul
                    li
                      a(href='all_tours_list.html') All tours list
                    li
                      a(href='all_tours_grid.html') All tours grid
                    li
                      a(href='single_tour.html') Single tour page
                    li
                      a(href='single_tour_with_gallery.html') Single tour with gallery
                    li
                      a(href='single_tour_working_booking.php') Single tour working booking
                li.submenu
                  a.show-submenu(href='javascript:void(0);')
                    | Hotels 
                    i.icon-down-open-mini
                  ul
                    li
                      a(href='all_hotels_list.html') All hotels list
                    li
                      a(href='all_hotels_grid.html') All hotels grid
                    li
                      a(href='single_hotel.html') Single hotel page
                    li
                      a(href='single_hotel_working_booking.php') Single hotel working booking
                li.submenu
                  a.show-submenu(href='javascript:void(0);')
                    | Transfers 
                    i.icon-down-open-mini
                  ul
                    li
                      a(href='all_transfer_list.html') All transfers list
                    li
                      a(href='all_transfer_grid.html') All transfers grid
                    li
                      a(href='single_transfer.html') Single transfer page
                li.megamenu.submenu
                  a.show-submenu-mega(href='javascript:void(0);')
                    | Pages & elements
                    i.icon-down-open-mini
                  .menu-wrapper
                    .col-md-4
                      h3 Pages
                      ul
                        li
                          a(href='about.html') About us
                        li
                          a(href='general_page.html') General page
                        li
                          a(href='tourist_guide.html') Tourist guide
                        li
                          a(href='cart.html') Cart Tours
                        li
                          a(href='payment.html') Payment Tours
                        li
                          a(href='confirmation.html') Confirmation Tours
                        li
                          a(href='cart_hotel.html') Cart Hotel
                        li
                          a(href='payment_hotel.html') Payment Hotel
                        li
                          a(href='confirmation_hotel.html') Confirmation Hotel
                        li
                          a(href='wishlist.html') Wishlist page
                        li
                          a(href='faq.html') Faq
                        li
                          a(href='pricing_tables.html') Pricing tables
                    .col-md-4
                      h3 Pages
                      ul
                        li
                          a(href='contact_us_1.html') Contact us 1
                        li
                          a(href='contact_us_2.html') Contact us 2
                        li
                          a(href='blog_right_sidebar.html') Blog
                        li
                          a(href='blog.html') Blog left sidebar
                        li
                          a(href='login.html') Login
                        li
                          a(href='register.html') Register
                        li
                          a(href='invoice.html', target='_blank') Invoice
                        li
                          a(href='404.html') 404 Error page
                        li
                          a(href='site_launch/index.html') Site launch / Coming soon
                        li
                          a(href='gallery_3_columns.html') Gallery 3 columns
                        li
                          a(href='gallery_4_columns.html') Gallery 4 columns
                        li
                          a(href='timeline.html') Tour timeline
                    .col-md-4
                      h3 Elements
                      ul
                        li
                          a(href='index.html')
                            i.icon-columns
                            |  Header transparent
                        li
                          a(href='header_plain.html')
                            i.icon-columns
                            |  Header plain
                        li
                          a(href='header_transparent_colored.html')
                            i.icon-columns
                            |  Header transparent colored
                        li
                          a(href='footer_2.html')
                            i.icon-columns
                            |  Footer with working newsletter
                        li
                          a(href='icon_pack_1.html')
                            i.icon-inbox-alt
                            |  Icon pack 1 (1900)
                        li
                          a(href='icon_pack_2.html')
                            i.icon-inbox-alt
                            |  Icon pack 2 (100)
                        li
                          a(href='shortcodes.html')
                            i.icon-tools
                            |  Shortcodes
                        li
                          a(href='newsletter_template/newsletter.html', target='blank')
                            i.icon-mail
                            |  Responsive email template
                        li
                          a(href='page_with_map.html')
                            i.icon-map
                            |   Full screen map
                        li
                          a(href='admin.html')
                            i.icon-cog-1
                            |   Admin area
                        li
                          a(href='general_page.html')
                            i.icon-light-up
                            |   Weather Forecast
                  // End menu-wrapper
            // End main-menu
            ul#top_tools
              li
                .dropdown.dropdown-search
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    i.icon-search
                  .dropdown-menu
                    form
                      .input-group
                        input.form-control(type='text', placeholder='Search...')
                        span.input-group-btn
                          button.btn.btn-default(type='button', style='margin-left:0;')
                            i.icon-search
              li
                .dropdown.dropdown-cart
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    i.icon-basket-1
                    | Cart (0)
                  ul#cart_items.dropdown-menu
                    li
                      .image
                        img(src='images/thumb_cart_1.jpg', alt='')
                      strong
                        a(href='#') Louvre museum
                        | 1x $36.00
                      a.action(href='#')
                        i.icon-trash
                    li
                      .image
                        img(src='images/thumb_cart_2.jpg', alt='')
                      strong
                        a(href='#') Versailles tour
                        | 2x $36.00
                      a.action(href='#')
                        i.icon-trash
                    li
                      .image
                        img(src='images/thumb_cart_3.jpg', alt='')
                      strong
                        a(href='#') Versailles tour
                        | 1x $36.00
                      a.action(href='#')
                        i.icon-trash
                    li
                      div
                        | Total: 
                        span $120.00
                      a.button_drop(href='cart.html') Go to cart
                      a.button_drop.outline(href='payment.html') Check out
                // End dropdown-cart
      // container
    // End Header
    block slide
    
    block content
    // End container
    footer
      .container
        .row
          .col-md-4.col-sm-3
            h3 Need help?
            a#phone(href='tel://004542344599') +45 423 445 99
            a#email_footer(href='mailto:help@citytours.com') help@citytours.com
          .col-md-3.col-sm-3
            h3 About
            ul
              li
                a(href='#') About us
              li
                a(href='#') FAQ
              li
                a(href='#') Login
              li
                a(href='#') Register
              li
                a(href='#') Terms and condition
          .col-md-3.col-sm-3
            h3 Discover
            ul
              li
                a(href='#') Community blog
              li
                a(href='#') Tour guide
              li
                a(href='#') Wishlist
              li
                a(href='#') Gallery
          .col-md-2.col-sm-3
            h3 Settings
            .styled-select
              select#lang.form-control(name='lang')
                option(value='English', selected='') English
                option(value='French') French
                option(value='Spanish') Spanish
                option(value='Russian') Russian
            .styled-select
              select#currency.form-control(name='currency')
                option(value='USD', selected='') USD
                option(value='EUR') EUR
                option(value='GBP') GBP
                option(value='RUB') RUB
        // End row
        .row
          .col-md-12
            #social_footer
              ul
                li
                  a(href='#')
                    i.icon-facebook
                li
                  a(href='#')
                    i.icon-twitter
                li
                  a(href='#')
                    i.icon-google
                li
                  a(href='#')
                    i.icon-instagram
                li
                  a(href='#')
                    i.icon-pinterest
                li
                  a(href='#')
                    i.icon-vimeo
                li
                  a(href='#')
                    i.icon-youtube-play
                li
                  a(href='#')
                    i.icon-linkedin
              p © Citytours 2015
        // End row
      // End container
    // End footer
    #toTop
    // Back to top button
    // Common scripts
    script(src='js/jquery-1.11.2.min.js')
    script(src='js/common_scripts_min.js')
    script(src='js/functions.js')
    // Map
    script(src='http://maps.googleapis.com/maps/api/js')
    script(type='text/javascript', src='js/map_home.js')
    script(type='text/javascript', src='js/infobox.js')
